@charset "UTF-8";

:root {
    --cor-fonte-principal: black;
    --cor-fundo-h2: rgb(202, 198, 198);
    --cor-fundo-input: rgb(231, 227, 227);
    --cor-fundo-pontos: rgb(228, 228, 228);
    --cor-sombra: rgba(0, 0, 0, 0.418);
    --cor-fundo-menu-hover: rgb(241, 239, 239);
    --cor-fundo-menu-trans: rgb(241, 239, 239, 0.95);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Editando o header */

header {
    padding: 20px;
    border-bottom: 2px solid var(--cor-fonte-principal);
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* Menu Lateral */

div#nav div.nav {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
    text-align: center;
    /* border: 2px solid var(--cor-fonte-principal); */
}

div#nav div.nav > div {
    position: relative;
    height: 100%;
    width: 100%;
}

div#nav div.nav > div > div {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 3px;
    left: 10px;
    border-radius: 10px;
}

div#nav div.nav > div > div:hover {
    background-color: var(--cor-fundo-menu-hover);
    cursor: pointer;
    transition: .3s;
}

div#menu-simbolo {
    font-size: 50px;
    position: absolute;
    top: -5px;
    left: 8px;
}

nav#menu-lateral {
    position: fixed;
    width: 250px;
    background-color: var(--cor-fundo-menu-trans);
    height: 100vh;
    top: 0px;
    left: -250px;
    padding-top: 70px;
    border-right: 2px solid var(--cor-fonte-principal);
}

nav hr {
    margin-bottom: 20px;
    border: none;
}

nav div {
    height: 30px;
    padding-top: 7px;
}

nav div:hover {
    background-color: var(--cor-fundo-h2);
    cursor: pointer;
    transition: .3s;
}

nav a {
    text-decoration: none;
    color: var(--cor-fonte-principal);
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

/* Editando o corpo */

div#main {
    width: 95vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 60vw 35vw;
    grid-template-rows: 4;
    gap: 50px;
}

section {
    box-shadow: 2px 4px 8px var(--cor-sombra);
}

h1 {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 5px 0px;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 10px;
    box-shadow: 1px 2px 4px var(--cor-sombra);
}

h1:hover {
    border: 2px solid var(--cor-fonte-principal);
    transition: .3s;
}

h1 label:hover {
    cursor: pointer;
}

h1 label input {
    text-align: center;
    font-size: 1em;
    width: 300px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--cor-fundo-input);
}

section.secao-dados {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 2px solid var(--cor-fonte-principal);
    border-radius: 10px;
}

div#container-esquerda h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--cor-fundo-h2);
    border-radius: 8px 8px 0px 0px;
}

div.dados-input {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
}

label {
    font-weight: bold;
}

label:hover, input:hover, select:hover {
    cursor:pointer;
}

div.dados-input p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tamanho-input1 {
    width: 200px;
}

div#pontos-restantes {
    display: flex;
    justify-content: right;
    padding: 10px 10px 0px 10px;
}

div#pontos-restantes div {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

div.pontos {
    font-weight: bold;
}

/* Botão de Aumentar/Diminuir */

div.label {
    width: 100%;
    align-items: center;
}

div.label div.div-atributos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

div.div-atributos p {
    max-width: 100px;
    min-width: 100px;
}

div.label p {
    padding: 0px;
    width: auto;
    font-weight: bold;
}

div.definir-status {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

button.diminuir {
    padding: 0px 5px;
}

button.aumentar {
    padding: 0px 3px;
}

button.aumentar-diminuir {
    height: 20px;
    font-weight: bolder;
    font-size: 1em;
    align-items: center;
}

div.div-pp {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div.div-pp p{
    max-width: 150px;
    min-width: 150px;
}

div.pp {
    background-color: var(--cor-fundo-h2);
    max-width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 2px 0px;
    border-radius: 4px;
    margin-bottom: 5px;
}

div.div-pa {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div.div-pa p{
    max-width: 150px;
    min-width: 150px;
}

div.pa {
    background-color: var(--cor-fundo-h2);
    max-width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 2px 0px;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* Seção das Perícias */

section#secao-pericias {
    width: 90%;
    margin:20px auto 0px auto;
    padding: 20px 20px;
}

section#secao-pericias h2 {
    font-weight: bold;
    text-align: center;
}

div.div-pericias {
    display: flex;
    width: 100%;
}

div.div-pericias > div {
    width: calc(100%/3);
    padding: 5px;
    border: 1px solid var(--cor-fonte-principal);
}

div#pericias {
    background-color: var(--cor-fundo-h2);
    font-weight: bold;
}
div.borda-cima-esquerda {
    border-radius: 10px 0px 0px 0px;
}

div.borda-cima-direita {
    border-radius: 0px 10px 0px 0px;
}

div.modificador, div.treinado {
    text-align: center;
}

div div.container {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#secao-pericias div div.div-pericias:hover {
    background-color: var(--cor-fundo-input);
    transition: .3s;
}

section#secao-pericias div div.div-pericias:hover div.nome-pericia {
    font-weight: bold;
    transition: .3s;
}

section#secao-pericias div div.div-pericias:hover div.container div {
    font-weight: bold;
    transition: .3s;
}

section#secao-pericias div div.pericias:hover {
    background-color: var(--cor-fundo-h2);
    transition: .3s;
}

div.pontos-modificador {
    font-size: 14px;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

div#modificador-pontos {
    background-color: var(--cor-fundo-pontos);
    padding: 1px 5px;
    border-radius: 3px;
}

.borda-baixo-esquerda {
    border-radius: 0px 0px 0px 10px;
}

.borda-baixo-direita {
    border-radius: 0px 0px 10px 0px;
}

div.bordas-superiores {
    border-radius: 10px 10px 0px 0px;
}

div.bordas-inferiores {
    border-radius: 0px 0px 10px 10px;
}

/* Seção Armas */

section#secao-armas {
    width: 90%;
    margin:40px auto;
    padding: 20px;
    position: relative;
}

section#secao-armas div#tabela-armas {
    width: 100%;
}

section#secao-armas div#tabela-armas div {
    display: flex;
    width: 100%;
}

section#secao-armas div#tabela-armas div input {
    height: 30px;
    width: calc(100%/6);
    border: 1px solid var(--cor-fonte-principal);
    align-items: center;
    text-align: center;
    padding: 2px;
}

section#secao-armas div#tabela-armas div.armas-info:hover input  {
    background-color: var(--cor-fundo-pontos);
}

section#secao-armas div#tabela-armas div.armas-info:hover input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
}

section#secao-armas div#tabela-armas div input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
}

label.hide {
    display: none;
}

div#armas-info {
    font-weight: bold;
    background-color: var(--cor-fundo-h2);
}

div.adicionar-linha {
    font-weight: bold;
    font-size: 2em;
    max-width: 30px;
    min-width: 30px;
    padding: 0px 5px;
    position: absolute;
    bottom: 5px;
    right: 8px;
}

div#alcance {
    font-size: 0.8em;
    font-weight: bolder;
}

div.adicionar-linha:hover {
    font-weight: bolder;
    font-size: 2.3em;
    bottom: 1px;
    right: 10px;
    cursor: pointer;
    transition: .3s;
}

section#secao-armas div#tabela-armas div input {
    font-weight: bold;
    font-size: 1em;
}

/* Seção Inventário */

section#secao-inventario {
    width: 90%;
    margin:40px auto;
    padding: 20px;
    position: relative;
}

section#secao-inventario div#tabela-inventario {
    width: 100%;
}

section#secao-inventario div#tabela-inventario div {
    display: flex;
    width: 100%;
}

section#secao-inventario div#tabela-inventario div#inventario-detalhes {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div#inventario-detalhes div {
    height: 30px;
    padding: 5px 80px;
    border: 1px solid var(--cor-fonte-principal);
    text-align: center;
}

div#inventario {
    border-radius: 10px 0px 0px 0px;
}

div#detalhes {
 border-radius: 0px 10px 0px 0px;
}

section#secao-inventario div#tabela-inventario div input {
    height: 30px;
    width: calc(100%/2);
    border: 1px solid var(--cor-fonte-principal);
    align-items: center;
    text-align: center;
    padding: 2px;
}

section#secao-inventario div#tabela-inventario div.inventario-detalhes:hover input  {
    background-color: var(--cor-fundo-pontos);
    transition: .3s;
}

section#secao-inventario div#tabela-inventario div.inventario-detalhes:hover input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
}

div#inventario-detalhes {
    font-weight: bold;
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div input {
    font-weight: bold;
    font-size: 1em;
}

/* Editando a Tabela dos Traumas */

section#secao-traumas {
    position: relative;
}

div#tabela-traumas {
    width: 100%;
    margin: auto;
    padding: 5%;
}

div#tabela-traumas div {
    display: flex;
    width: 100%;
}

div#tabela-traumas div input {
    width: calc(100%/2);
}

div#traumas-info div {
    font-weight: bold;
    text-align: center;
}

div#nome-trauma {
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 10px 0px 0px 0px;
    background-color: var(--cor-fundo-h2);
    padding: 5px 20px;
}

div#descricao-trauma {
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 0px 10px 0px 0px;
    background-color: var(--cor-fundo-h2);
    padding: 5px 20px;
}

div.traumas-info input {
    border: 1px solid var(--cor-fonte-principal);
    outline: 0;
    height: 25px;
    text-align: center;
}

div.traumas-info:hover input {
    background-color: var(--cor-fundo-pontos);
    transition: .3s;
}

div.traumas-info:hover input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
    transition: .3s;
}

div#tabela-traumas div input:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
}

section#secao-traumas div.adicionar-linha {
    bottom: 1px;
    right: 1px;
}

section#secao-traumas div.adicionar-linha:hover {
    bottom: -2px;
    transition: .3s;
}

/* Botão para calcular status */

div.tamanho-button {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    position: relative;
}

div.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 30px;
    border: 1px solid var(--cor-fonte-principal);
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: var(--cor-fundo-h2);
    font-weight: bold;
}

div.button:hover {
    height: 33px;
    width: 165px;
    padding: 3px 0px;
    font-size: 1.1em;
    border: 2px solid var(--cor-fonte-principal);
    border-radius: 11px;
    background-color: var(--cor-fundo-input);
    cursor: pointer;
    transition: .3s;
}