@charset "UTF-8";

:root {
    --cor-fonte-principal: black;
    --cor-fundo-h2: rgb(202, 198, 198);
    --cor-fundo-input: rgb(231, 227, 227);
    --cor-fundo-pontos: rgb(228, 228, 228);
    --cor-sombra: rgba(0, 0, 0, 0.418);
    --cor-fundo-menu-hover: rgb(241, 239, 239);
    --cor-fundo-menu-trans: rgb(241, 239, 239, 0.95);
    --cor-fundo-body: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: var(--cor-fundo-body);
}

textarea {
    outline: none;
    resize: none;
    overflow-y: hidden;
    width: 250px;
    height: 30px;
}

/* Editando o header */

header {
    padding: 20px;
    border-bottom: 2px solid var(--cor-fonte-principal);
}

header h1 {
    text-align: center;
    font-weight: bold;
}

/* Menu Lateral */

div#nav div.nav {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
    text-align: center;
    /* border: 2px solid var(--cor-fonte-principal); */
}

div#nav div.nav > div {
    position: relative;
    height: 100%;
    width: 100%;
}

div#nav div.nav > div > div {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 3px;
    left: 10px;
    border-radius: 10px;
}

div#nav div.nav > div > div:hover {
    background-color: var(--cor-fundo-menu-hover);
    cursor: pointer;
    transition: .3s;
}

div#menu-simbolo {
    font-size: 50px;
    position: absolute;
    top: -5px;
    left: 8px;
}

nav#menu-lateral {
    position: fixed;
    width: 250px;
    background-color: var(--cor-fundo-menu-trans);
    height: 100vh;
    top: 0px;
    left: -250px;
    padding-top: 70px;
    border-right: 2px solid var(--cor-fonte-principal);
}

nav hr {
    margin-bottom: 20px;
    border: none;
}

nav div {
    height: 30px;
    padding-top: 7px;
}

nav div:hover {
    background-color: var(--cor-fundo-h2);
    cursor: pointer;
    transition: .3s;
}

nav a, nav p {
    text-decoration: none;
    color: var(--cor-fonte-principal);
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

/* Editando Corpo */

div.div-pericias > div {
    width: calc(100%/3);
    padding: 5px;
    border: 1px solid var(--cor-fonte-principal);
}

div#main {
    width: 95vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 60vw 35vw;
    grid-template-rows: 4;
    gap: 50px;
}

section {
    box-shadow: 2px 4px 8px var(--cor-sombra);
}

section.secao-dados {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 2px solid var(--cor-fonte-principal);
    border-radius: 10px;
}

div#container-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#container-esquerda section {
    margin-top: 40px;
}

div#container-esquerda h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--cor-fundo-h2);
    border-radius: 8px 8px 0px 0px;
}

div.dados-input {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
}

label {
    font-weight: bold;
}

label:hover, input:hover, select:hover, textarea:hover {
    cursor:pointer;
}

div.dados-input p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tamanho-input1 {
    width: 200px;
}

div.borda-cima-esquerda {
    border-radius: 10px 0px 0px 0px;
}

div.borda-cima-direita {
    border-radius: 0px 10px 0px 0px;
}

.borda-baixo-esquerda {
    border-radius: 0px 0px 0px 10px;
}

.borda-baixo-direita {
    border-radius: 0px 0px 10px 0px;
}

div.bordas-superiores {
    border-radius: 10px 10px 0px 0px;
}

div.bordas-inferiores {
    border-radius: 0px 0px 10px 10px;
}

/* Seção Armas */

div.armas-info {
    height: auto;
}


section#secao-armas {
    width: 90%;
    margin:40px auto;
    padding: 20px 20px 0px 20px;
}

section#secao-armas div.adicionar-linha {
    margin-left: 97%;
    transform: translateY(-20px);
}

section#secao-inventario div.adicionar-linha {
    margin-left: 97%;
    transform: translateY(-20px);
}

section#secao-traumas div.adicionar-linha {
    margin-left: 90%;
    transform: translateY(-20px);
}

section#secao-armas div#tabela-armas {
    width: 100%;
}

section#secao-armas div#tabela-armas div {
    display: flex;
    width: 100%;
}

section#secao-armas div#tabela-armas div input {
    min-height: 30px;
    width: calc(100%/6);
    border: 1px solid var(--cor-fonte-principal);
    align-items: center;
    text-align: center;
    padding: 2px;
}

section#secao-armas div#tabela-armas div textarea {
    height: auto;
    width: calc(100%/6);
    border: 1px solid var(--cor-fonte-principal);
    align-items: center;
    text-align: center;
    padding: 5px;
}

input[type = "number"] {
    font-size: 5px;
}

section#secao-armas div#tabela-armas div.armas-info:hover input,  section#secao-armas div#tabela-armas div.armas-info:hover textarea {
    background-color: var(--cor-fundo-pontos);
}

section#secao-armas div#tabela-armas div.armas-info:hover input:focus, section#secao-armas div#tabela-armas div.armas-info:hover textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
}

section#secao-armas div#tabela-armas div input:focus, section#secao-armas div#tabela-armas div textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
    height: 30px;
}

label.hide {
    display: none;
}

div#armas-info {
    font-weight: bold;
    background-color: var(--cor-fundo-h2);
}

div.adicionar-linha {
    font-weight: bold;
    font-size: 2em;
    max-width: 30px;
    min-width: 30px;
    padding: 0px 5px;
}

div#alcance {
    font-size: 0.8em;
    font-weight: bolder;
}

div.adicionar-linha:hover {
    font-weight: bolder;
    font-size: 2.3em;

    cursor: pointer;
    transition: .3s;
}

section#secao-armas div#tabela-armas div input {
    font-weight: bold;
    font-size: 0.9em;
}

section#secao-armas div#tabela-armas div textarea {
    font-weight: bold;
    font-size: 1.1em;
}

/* Seção Inventário */

section#secao-inventario div#tabela-inventario div textarea.inventario, section#secao-inventario div#tabela-inventario div textarea.detalhes {
    font-size: 1.1em;
    padding: 5px;
    font-weight: bold;
}

section#secao-inventario {
    width: 90%;
    margin:40px auto;
    padding: 20px 20px 0px 20px;
}

section#secao-inventario div#tabela-inventario {
    width: 100%;
}

section#secao-inventario div#tabela-inventario div {
    display: flex;
    width: 100%;
}

section#secao-inventario div#tabela-inventario div#inventario-detalhes {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div#inventario-detalhes div {
    height: 30px;
    padding: 5px 80px;
    border: 1px solid var(--cor-fonte-principal);
    text-align: center;
}

div#inventario {
    border-radius: 10px 0px 0px 0px;
}

div#detalhes {
 border-radius: 0px 10px 0px 0px;
}

section#secao-inventario div#tabela-inventario div textarea {
    height: 30px;
    width: calc(100%/2);
    border: 1px solid var(--cor-fonte-principal);
    align-items: center;
    text-align: center;
    padding: 2px;
}

section#secao-inventario div#tabela-inventario div.inventario-detalhes:hover textarea {
    background-color: var(--cor-fundo-pontos);
    transition: .3s;
}

section#secao-inventario div#tabela-inventario div.inventario-detalhes:hover textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
}

div#inventario-detalhes {
    font-weight: bold;
    background-color: var(--cor-fundo-h2);
}

section#secao-inventario div#tabela-inventario div textarea {
    font-weight: bold;
    font-size: 1em;
}

/* Editando a Tabela dos Traumas */

section#secao-traumas {
    position: relative;
    margin: 0px auto;
}

div#tabela-traumas {
    width: 100%;
    margin: auto;
    padding: 5% 5% 0 5%;
}

div#tabela-traumas div {
    display: flex;
    width: 100%;
}

div#tabela-traumas div input, div#tabela-traumas div textarea {
    width: calc(100%/2);
}

div#traumas-info div {
    font-weight: bold;
    text-align: center;
}

div#nome-trauma {
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 10px 0px 0px 0px;
    background-color: var(--cor-fundo-h2);
    padding: 5px 20px;
}

div#descricao-trauma {
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 0px 10px 0px 0px;
    background-color: var(--cor-fundo-h2);
    padding: 5px 20px;
}

div.traumas-info input, div.traumas-info textarea {
    border: 1px solid var(--cor-fonte-principal);
    outline: 0;
    height: 25px;
    text-align: center;
}

div.traumas-info:hover input, div.traumas-info:hover textarea {
    background-color: var(--cor-fundo-pontos);
    transition: .3s;
}

div.traumas-info:hover input:focus, div.traumas-info:hover textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-h2);
    transition: .3s;
}

div#tabela-traumas div input:focus, div#tabela-traumas div textarea:focus {
    outline: 0;
    border: 2px solid var(--cor-fonte-principal);
    background-color: var(--cor-fundo-pontos);
}

section#secao-traumas div.adicionar-linha:hover {
    transition: .3s;
}